/*
h) chalk_grainy
50px
Color scheme:
aliceblue
dodgerblue
*/


html {
	scroll-behavior:		smooth;
}

body {
	background-color:		aliceblue;
	padding:				0;
	margin:					0;
}/*
header {
	background-color:		darkslateblue;
	text-align:				center;
	width:					fill;
	height:500px;
}*/


header{
	background-position:	center;
	width:fill;
	height:calc(100vh - 60px);
	background-repeat:		no-repeat;
	background-size:		contain, cover;
}

header:nth-of-type(1) {
	margin-top:				60px;
	background-image:		url("images/main-header-logo.png"), url("images/seamless-paper-texture-business-card-background.jpg");
}
header:nth-of-type(2) {
	background-image:		url("images/about-us-header-logo.png"), url("images/stock-photo-teacher-reading-fairy-tales-to-children-sitting-in-a-circle-at-library-top-view-of-librarian-1200999988.jpg");
}
header:nth-of-type(3){
	background-image:		url("images/donate-header-logo.png"), url("images/stock-photo-education-children-technology-science-and-people-concept-group-of-happy-kids-building-robots-559448341.jpg");
}
header:nth-of-type(4){
	background-image:		url("images/contact-header-logo.png"), url("images/stock-photo-teacher-at-montessori-school-reading-to-children-at-story-time-641732992.jpg");
}
h1 {
	font-family: 'Work Sans', sans-serif;
	font-size: 2.25em;
	padding:0px;
	margin:0px;
}
h2 {
	font-family: 'Work Sans', sans-serif;
	font-size: 1.5em;
	padding:0px;
	margin:0px;
}
p{
	font-family: 'Coustard', serif;
}
nav {
	height:60px;
	width:100%;
	position:fixed;
	top:0px;
	background-color:dodgerblue;
	z-index: 1000;
	display:grid;
	grid-template-columns: auto auto auto;
	text-align: center;
	border-bottom: 3px solid blue;
}
nav a {
	height:60px;
	line-height: 60px;
	transition: background-color 0.1s, color 0.1s;
	text-decoration: none;
	font-family: 'Work Sans', sans-serif;
	font-size: 1.5em;
	font-color:black;
}
nav a:visited {
	color:black;
}
nav a:active {
	color:dodgerblue;
}
nav a:hover {
	background-color:white;
}
div{
	position:relative;
	top:-60px;
	height:0px;
	width:fill;
}
div div {
	position:relative;
	top:15px;
	width:fill;
	height:90px;
	background-image:linear-gradient(transparent, black, transparent);
}
header div {
	position:relative;
	top:calc(100vh - 90px);
	height:60px;
	background-image:linear-gradient(transparent, black, transparent);
}
figure {
	margin:0px;
	display:grid;
	width:fill;
	padding:10px 50px;
	grid-gap:10px;
}
section{
	min-height:800px;
}
@media screen and (max-width: 1000px) {
	figure{
		grid-template-columns: auto;
	}
	section{
		padding: 100px 20px;
	}
}
@media screen and (min-width:1000px) {
	figure{
		grid-template-columns: auto auto;
	}
	figure img:nth-of-type(3){
		grid-column-start: 1;
		grid-column-end: 3;
	}
	section{
		padding:100px;
	}
}
@media screen and (min-width:1600px) {
	figure{
		grid-template-columns: auto auto auto;
	}
	figure img:nth-of-type(3){
		grid-column-start:3;
		grid-column-end:4;
	}
}
figure img{
	width:100%;
}

footer {
	background-color:gainsboro;
	height:150px;
	padding:50px;
	border-top:3px solid gray;
}

footer img {
	width:100px;
	height:100px;
	display:inline-block;
	margin:10px;
}
footer img:nth-of-type(2){
	border:2px solid dodgerblue;
	border-radius:25%;
}